*{
box-sizing:border-box;
  font-family: sans-serif;
}



body{
margin:0;

}
main {
  margin-left:15%;
  padding :10px;
}
#Top{
  background-color:red;
  color:white;
  height:500px;
  text-align:center;
}


nav{
  position:fixed;
  top:0;
  left:0;
  
  background-color: white;
  color:White;
  
  height:100%;
    width:15%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  border-right:1px solud #333;
  
}
nav a{
  display:inline-block;
 text-decoration:none;
  padding: 5px 15px;
  font-size : 0.9em;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing: 0.05em;
}

#About{
  background-color:Blue;
  color:White;
  height:500px;
  text-align:center;
  
  
  
}
h1{
  font-size:30px;
  margin-top:20px;
}
p{
  
  font-size:15px;
}

#Skills{
  height:500px;
  background-color:yellow;
  color:white;
  text-align:center;
  
}
#Blog {
  height:500px;
  background-color:green;
  color:white;
  text-align:center;
}
#Contact{  
  height:500px;
  background-color:orange;
  color:white;
  text-align:center;
  
}
