body{
margin:auto;

}


nav{
  margin:left;
  background-color: Black;
  color:White;
  float:left;
  height:100%;
    width:15%;
}

#About{
  background-color:Blue;
  color:White;
  height:500px;
  text-align:center;
  
  
  
}
#Skills{
  height:500px;
  background-color:yellow;
  color:Black;
  text-align:center;
  
}
