*{
box-sizing:border-box;
  font-family: sans-serif;
}



body{
margin:0;

}


nav{
  position:fixed;
  top:0;
  left:0;
  
  background-color: Black;
  color:White;
  
  height:100%;
    width:15%;
  
}
a{
  font-size:20px;
}

#About{
  background-color:Blue;
  color:White;
  height:500px;
  text-align:center;
  
  
  
}
h1{
  font-size:30px;
}
p{
  
  font-size:15px;
}

#Skills{
  height:500px;
  background-color:yellow;
  color:Black;
  text-align:center;
  
}
