*{
box-sizing:border-box;
  font-family: sans-serif;
}



body{
margin:0;

}
main {
  margin-left:15%;
  padding :10px;
}
#Top{
  margin-top:100px;
  color:Red;
  height:500px;
  text-align:center;
  
}
img{
  width:200px;
  height:200px;
  border-radius:100%;
}
.topp{
  font-size: 40px;
  color:Black;
}

nav{
  position:fixed;
  top:0;
  left:0;
  
  background-color: white;
  color:White;
  
  height:100%;
    width:15%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  border-right:1px solud #333;
  
}
nav a{
  display:inline-block;
 text-decoration:none;
  padding: 5px 15px;
  font-size : 0.9em;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing: 0.05em;
}

#About{
  
  color:Black;
  height:500px;
  text-align:center;
  
  
  
}
h1{
  font-size:100px;
  margin-top:100px;
}
p{
  
  font-size:15px;
}

#Skills{
  height:500px;
  
  color:Black;
  text-align:center;
  
}
#Blog {
  height:500px;
  
  color:Black;
  text-align:center;
}
#Contact{  
  height:500px;
  
  color:Black;
  text-align:center;
  
}
