nav{
  margin:left;
  background-color: Black;
  color:White;
  float:left;
  height:100%;
    width:15%;
}

#About{
  background-color:Black;
  color:White;
  height:500px;
  width:100%;
  
}
#Skills{
  height:500px;
  background-color:White;
  color:Black;
  width:100%;
}
